body {
    background-color: #0e1529;
    color: #83769c;
}

.md-typeset h1, .md-tabs__link--active, .md-nav__link--passed, .md-tabs__link--active{
    color: #83769c8a;
}

.md-tabs__link:is(:focus,:hover), div>ul>li>a{
    color: #ffccaa;
}

.md-nav__item .md-nav__link--active , .md-nav__link:hover{
    color: #ff004d;
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    box-shadow: none;
    background-color: #0e1529;
}

.md-header, .md-tabs {
    background-color: #1d2b53;
}

.md-header {
    color: #0e1529;
}